.container-login {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container-left {
    background: #3c37ff;
    height: 100vh;
    color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 34%;
}

.container-left h1 {
    font-size: 30px;

}

.container-left p {
    font-size: 16px;
    padding-top: 16px;
}

.container-right {
    background: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-right form {
    width: 500px;
}

.container-right form button:hover {
    filter: opacity(.9);
}