.no-match {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-match span {
    font-size: 24px;
    font-weight: 400;
}

.no-match h1 {
    font-size: 184px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.no-match p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 28px;
}

.no-match a {
    font-size: 16px;
    padding: 16px 28px;
    background: #3c37ff;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}