.container-list {
    padding: 4%;
}

.border-name {
    display: flex;
    align-items: center;
}

.cicle {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-right: 16px;
}

.row-clients {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr .5fr .5fr;
    padding: 16px;
    border-bottom: 1px solid #e6e7e9;
    border-left: 1px solid #e6e7e9;
    border-right: 1px solid #e6e7e9;
    align-content: space-around;
    justify-content: space-between;
    grid-gap: 10px;
}


.row-clients:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.row-clients.first-row {
    background: #f7f7f7;
    border: 1px solid #e6e7e9;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 44px;
}

.row-clients.first-row p {
    color: #7f808b;
    font-size: 14px;
}