.container-list {
    padding: 4%;
}

.border-name {
    display: flex;
    align-items: center;
}

.cicle {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-right: 16px;
}

.pagination-button {
    margin-top: 16px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.button-pagination {
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    height: 30px;
    background: #3c37fd;
    transition: background-color 0.3s;
}

.button-pagination:hover {
    filter: opacity(.9);
}

.button-pagination {
    border-radius: 4px;
}

.pagination-colum {
    width: 1px;
    background: #fff;
}

.pages {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages>button {
    width: 24px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-left: 4px;
    color: #7f808b;
    background: transparent;
}

.pages>button:hover {
    filter: opacity(.9);
}

.page-active {
    background: #3c37fd !important;
    color: #fff !important;
}