@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Poppins, sans-serif;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
    font: 400 16px Poppins, sans-serif;
    border: none;
}

button {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 310px 2fr;
}

.container-dashboard-left {
    height: 100vh;
    background: #151718;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    left: 0px;
}

.profile-info {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.profile {
    background: #ffffff;
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 16px;
    border: 8px solid #282828;
}

.profile p {
    font-size: 32px;
    font-weight: 900;
}

.name {
    color: #fff;
    font-size: 18px;
}

.role {
    color: #fff;
    font-size: 14px;
    padding-top: 8px;
    color: #9b9da2;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu li {
    text-decoration: none;
    width: 80%;
    margin-bottom: 8px;

    border-radius: 8px;
}

.menu li a {
    padding-left: 16px;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    color: #646667;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
}

.active {
    background: #2b2c30;

}

.active p {
    color: #ffffff;
}

.menu li a:hover {
    background: #2b2c30;
}

.menu li a p {
    padding-left: 16px;
}

.logout {
    text-decoration: none;
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout a {
    padding-left: 16px;
    width: 80%;
    border-radius: 8px;
    height: 48px;
    color: #9b9da2;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.logout a:hover {
    background: #282828;
}

.logout a p {
    padding-left: 16px;
}

.breadcrumb {
    display: flex;
    margin-bottom: 32px;
}

.breadcrumb a {
    font-size: 14px;
    text-decoration: none;
    color: #7f808b;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.header-page h1 {
    font-size: 28px;
    font-weight: 500;
}

.header-page button {
    display: flex;
    justify-items: center;
    align-items: center;
    color: #7f808b;
    padding: 8px 16px;
    border-radius: 8px;
    background: transparent;
    transition: background-color 0.3s;
}

.header-page p {
    color: #7f808b;
    margin-left: 8px;
}

.header-page button:hover {
    background: #e6e7e9;
}

.container-right form h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 32px;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input span {
    color: #7f808b;
    margin-bottom: 16px;
    font-size: 16px;
}

.input input {
    border: 2px solid #e6e7e9;
    margin-bottom: 16px;
    padding: 8px 16px;
    border-radius: 8px;
}

.input input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    padding: 0px;
    background: transparent;

    width: 44px;
    height: 44px;
}

.input input[type=color]::-webkit-color-swatch {
    border-radius: 8px;
    border: none;
}

.input input[type=color]::-moz-color-swatch {
    border-radius: 8px;
}

.input select {
    margin-bottom: 32px;
}

.input input:focus {
    border-color: #3c37fd;
}

.form button {
    width: 100%;
    height: 54px;
    border-radius: 8px;
    background: #3c37fd;
    color: #ffffff;
    transition: filter 0.2s;
}

.form button:hover {
    filter: opacity(.9);
}

select {
    /* styling */
    background-color: white;
    border: 2px solid #e6e7e9;
    border-radius: 8px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    background: #e6e7e9;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}


select.minimal {
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image:
        linear-gradient(45deg, gray 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, gray 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: #e6e7e9;
    outline: 0;
}


select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}