.container-users {
    padding: 0 4% 4% 4%;
}

.you {
    color: #30cc3b !important;
    font-size: 14px !important;
}

.user-delete {
    font-weight: 600;
}

.buttons-delete {
    display: flex;
    margin-top: 24px;
}

.buttons-delete button {
    padding: 10px 30px;
    color: #fff;
    border-radius: 24px;
    display: flex;
    align-items: center;

}

.buttons-delete button:first-child {
    margin-right: 16px;
}

.buttons-delete button svg {
    margin-left: 8px;
}

.cancel {
    background: #627d98;
    transition: background-color 0.3s;
}

.confirm {
    background: #e12d3a;
    transition: background-color 0.3s;
}

.cancel:hover {
    filter: opacity(.9);
}

.confirm:hover {
    filter: opacity(.9);
}

.text-delete {
    background: #ffe9d9;
    padding: 16px;
    border-radius: 4px;
    border-left: 4px solid #e97044;
}

.text-delete p {
    line-height: 26px;
}